%div{ class: "#{background} border-2 border-gray-300 p-6 rounded-md tracking-wide shadow-sm",
  data: { reflex: 'click->WorkflowTemplate#select_template', id: @workflow_template.id }
}
  %div{ class: "flex items-center mb-4" }
    %div{ class: "leading-5 ml-6 sm" }
      %h5{ class: "font-semibold text-blue-600" }
        = @workflow_template.name
      %h4{ class: "text-xl font-semibold" }
        = @workflow_template.description
