%div{ class: "#{background} border-2 border-gray-300 p-6 rounded-md tracking-wide shadow-sm" }
  = render(DropdownComponent.new(items: [{text: 'Add to my library', data: ''},
                                         {text: 'View template', data: { reflex: 'click->WorkflowTemplate#select_template', id: @workflow_template.id }},
                                         {text: 'Open in new window', data: { controller: 'workflow-template', action: 'click->workflow-template#openInNewWindow', path: workflow_template_path(@workflow_template) }},
                                         {text: 'Download', data: { controller: 'workflow-template', action: 'click->workflow-template#download', path: workflow_template_path(@workflow_template, format: :pdf) }},
                                        ]))
  %div{ class: "flex items-center mb-4",
    data: { reflex: 'click->WorkflowTemplate#select_template', id: @workflow_template.id }
  }
    %div{ class: "leading-5 ml-6 sm" }
      %h5{ class: "font-semibold text-blue-600" }
        = @workflow_template.name
      %h4{ class: "text-xl font-semibold" }
        = @workflow_template.description
