%div{ class: "#{background} border-2 border-gray-300 p-6 rounded-md tracking-wide shadow-sm" }
  = render(DropdownComponent.new(items: [ButtonComponent.new(text: 'Add to my library',
                                                             data: {}),
                                         ButtonComponent.new(text: 'View template',
                                                             data: { reflex: 'click->WorkflowTemplate#select_template',
                                                                     id: @workflow_template.id,
                                                                   }),
                                         LinkComponent.new(text: 'Open in new window',
                                                           path: workflow_template_path(@workflow_template),
                                                           options: { target: "_blank" }),
                                         LinkComponent.new(text: 'Download',
                                                           path: workflow_template_path(@workflow_template,
                                                                                        format: :pdf),
                                                           options: {target: "_blank"}),
                                        ]))
  %div{ class: "flex items-center mb-4",
    data: { reflex: 'click->WorkflowTemplate#select_template', id: @workflow_template.id }
  }
    %div{ class: "leading-5 ml-6 sm" }
      %h5{ class: "font-semibold text-blue-600" }
        = @workflow_template.name
      %h4{ class: "text-xl font-semibold" }
        = @workflow_template.description
