%turbo-frame#jobs-client-new
  = form_for(@client, url: jobs_clients_path, html: { class: 'hidden' }, data: {controller: 'clients-new', action: 'clients-new__show@window->clients-new#show clients-new__hide@window->clients-new#hide', turbo_frame: 'jobs-client-select'}) do |f|
    %div
      = f.label(:name)
      = f.text_field(:name)
    %div
      = f.submit
